{% extends "base.html" %}
{% load static %}

{% block meta %}
<title>Souline</title>
{% endblock meta %}

{% block content %}
<h1>Souline</h1>


<h1>Studio</h1>
<h2>Find your space to move and breathe</h2>
{% if user.is_authenticated %}
    <a href="{% url 'users:logout' %}">
    <button>Logout</button>
    </a>
    <h2>Studios in {{ user.profile.kota }}</h2>
{% endif %}

<div>
    {% for studio in studios %}
        <div>
            <img src="{{ studio.thumbnail }}" alt="{{ studio.nama_studio }}" width="400" height="300">
            <h3>{{ studio.nama_studio }}</h3>
            <p>{{ studio.area }}, {{ studio.get_kota_display }}</p>
            <p>{{ studio.alamat }}</p>
            <p>{{ studio.nomor_telepon }}</p>
            <a href="{{ studio.gmaps_link }}" target="_blank">View on Google Maps</a>
        </div>
    {% empty %}
        <p>No studios available.</p>
    {% endfor %}
</div>
<a href="{% url 'studio:show_studio' %}">View All Studios</a>


{% endblock content %}